:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
.text{
    text-align: center;
    color: black;
    margin: 25px;
}
ion-title, h6{
    text-align: center;
}
ion-icon{
    vertical-align: middle;
}
ion-select{
    display: flex;
    float: left;
    width: 33%;
    justify-content: center;
    align-items: center;
}
ion-select-option{
    
}
ion-item-divider{
    margin-bottom: 10px;
    border: none;
}
.buttom1{
    padding-left: 10px;
}
.buttom2{
    padding-right: 10px;
}
.showNum{
    border: solid;
    display: flex;
    float: left;
    padding: 5px;
    margin: 4px;
    width: 2.2rem;
    height: 2.2rem;
    margin: auto;
    justify-content: center;
}
.btn{
    --box-shadow: none;
    --background: none;
}
.btn > ion-icon{
    color: black;
    --background: transparent;
    width: 5rem;
    height: 2rem;
}
ion-chip > ion-select{
    width: 100%;
}